 /* MODIFY BODY TAG PROPERTIES */
 body {
   padding: 0px;
   margin: 0px;
 }
 /* HEADER FOR THE WEBSITE */
 .head {
   height: 50px;
   width: 100%;
   background-color: teal;
   padding: 0;
   margin: 0;
   border: none;
   position: fixed;
 }
 .social {
   height: 30px;
   width: 100%;
   background-color: rgba(255, 255, 255, 1);
   padding: 0;
   margin: 0;
   float: right;
   text-align: right;
 }
 .menu {
   height: 60px;
   width: 100%;
   background-color: rgba(187, 147, 175, 1);
   padding: 0;
   margin: 0;
 }
 .mid {
   height: 800px;
   width: 100%;
   background-color: rgba(255, 255, 255, 1);
   padding: 0;
   margin: 0;
 }
 /* Header Ends here*/
 /* Scroll bar decoration */
 /* width */ ::-webkit-scrollbar {
   width: 7px;
 }
 /* Track */ ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
 }
 /* Handle */ ::-webkit-scrollbar-thumb {
   background: rgba(187, 147, 175, 1);
   border-radius: 10px;
 }
 /* Handle on hover */ ::-webkit-scrollbar-thumb:hover {
   background: #b30000;
 }
 /* Scroll bar decoration over! */
 /* Menu */
 /* Menu icon */
 .container {
   display: inline-block;
   cursor: pointer;
 }
 /* End  Menu icon*/
 /* Menu sidebar */
 /* The side navigation menu */
 .sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: rgba(187, 147, 175, 1); /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
 }
 /* The navigation menu links */
 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
   color: #f1f1f1;
 }
 /* Position and style the close button (top right corner) */
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
   transition: margin-left .5s;
   padding: 0px;
 }
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 /*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/
 /* End Menu Sidebar */
 /* End Menu */
 .sidebar-break {
   width: 100%;
   text-align: center;
   vertical-align: middle;
   padding: 3.85%;
 }