/* CSS Document */
/* Adding Responsiveness - For Tab */
@media only screen and (max-width: 1020px) {
  html {
    overflow-x: hidden;
  }
  body {
    background-attachment: scroll;
  }
  header {}
  figure {
    float: none;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 2vw 0;
  }
  figure img {}
  nav {
    float: none;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }
  ul {
    margin: auto;
  }
  li {
    margin: auto;
    text-align: center;
    padding: 0 5px 0 0;
    flex: 1;
    flex-shrink: 1;
  }
  a.menu {}
  a.menu:hover {}
  .placeholder {}
  .hero {
    height: 1050px;
    max-width: 100%;
  }
  .hero img {}
  .desc {
    letter-spacing: .045em;
    font-size: 1em;
  }
  .gallery {
    height: 300px;
  }
  .gallery-col-main {}
  .gallery-col-side {}
  .gallery-col-side-1 {}
  .gallery-col-side-2 {}
  .gallery-col-side-3 {}
  .gallery-col-main img, .gallery-col-side-1 img, .gallery-col-side-2 img, .gallery-col-side-3 img {}
  .modal {}
  .modal-box {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32.5vw;
  }
  .modal-box-left, .modal-box-right {}
  .modal-box-center {
    width: 100%;
  }
  .close {}
  .modal-box img {
    height: 100%;
    max-width: 100%;
  }
  .prev-gallery, .next-gallery {
    padding: 3vw 8%;
    margin: 25vw 37%;
  }
  .services {
    padding: 0 5vw 2vw;
  }
  .heading {}
  .row {}
  .column {
    flex: 48%;
    -ms-flex: 48%;
    max-width: 48%;
    height: 25vw;
    padding-left: 0;
    padding-right: 0.4em;
    margin: 2px;
  }
  .column:hover {}
  .row::after {}
  h4 {}
  .column > p {
    text-align: left;
  }
  .column > p > a {}
  .column > p > img {
    padding: 0em 0.25em 4em;
  }
  .testimonial {}
  .testimonial-left, .testimonial-right {}
  .testimonial-center {}
  .testimonial .dot {}
  .prev-testimonials, .next-testimonials {}
  .prev-gallery:hover, .next-gallery:hover, .prev-testimonials:hover, .next-testimonials:hover {}
  .contact {
    display: flex;
    flex-direction: column;
    padding: 0 5vw 10vw;
  }
  .contact-left {
    float: none;
    width: 100%;
  }
  .contact-left iframe {
    /*height: 35vw;*/
  }
  .contact-left > p > a {}
  .contact-right {
    float: none;
    width: 100%;
    padding-top: 3vw;
  }
  .contact-right > p {}
  .col-25 {}
  .col-75 {}
  input[type=text], [type=email], [type=tel], textarea {}
  label {}
  input[type=submit] {}
  input[type=submit]:hover {}
  .social {
    margin: auto;
    display: flex;
    align-content: center;
    padding: 5vw 8vw 0;
  }
  .social > a {
    margin: auto;
  }
  .fa, .fab {}
  .fa-instagram, .fa-facebook-f, .fa-envelope, .fa-phone-alt, .fa-youtube {}
  .fa-instagram:hover, .fa-facebook-f:hover, .fa-envelope:hover, .fa-phone-alt:hover, .fa-youtube:hover {}
  .contact::after {}
  p.back-up {}
  .far {
    margin-right: 35px;
  }
  .fa-hand-point-up {}
  .fa-hand-point-up:hover {}
  footer {}
  .credit {}
  .credit .label {
    margin-left: 35%;
  }
  .credit a {
    margin-right: 20%;
  }
  .blog-body {}
  .blog-top {
    height: 110px;
  }
  .blog {}
  .blog-left {}
  .blog-left > video {}
  .blog-right {}
  .blog-right-content {}
  .blog-right-more {}
  .blog-right-more > a {}
  .blog-footer {}
  .blog-social {}
  .blog-head {
    margin-top: 20px;
  }
  .blog-writeup {}
}
.icon {
  display: none;
}