/* CSS Document */
/* Adding Responsiveness - For Phone */
@media only screen and (max-width: 720px) {
  html {
    overflow-x: hidden;
  }
  body {
    box-sizing: border-box;
    max-width: 100%;
    background-attachment: scroll;
  }
  header {
    position: relative;
    max-width: 100%;
    padding: 0px;
  }
  figure {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 0px;
  }
  figure img {
    padding-left: 60px;
    padding-top: 25px;
  }
  figure .fa {
    height: 10px;
    color: white;
    padding-top: 15px;
  }
  nav {
    width: 100%;
    text-align: center;
    padding: 0;
    display: none;
    background-color: #d93f87;
  }
  ul {
    margin: auto;
  }
  li {
    margin: auto;
    text-align: center;
    padding: 3vw 0;
  }
  li:hover {
    background-color: #ffffff;
  }
	li:hover a.menu{
		color: #d93f87;
	}
  ul li {
    float: none;
    text-align: center;
  }
  ul > li > a {
    text-align: center;
    padding: 0;
  }
  a.menu {}
  a.menu:hover {
    border-radius: 0px;
    padding: 0;
	  background-color: transparent;
  }
  .placeholder {}
  .hero {
    height: 110vw;
    width: 100%;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
  }
  .hero img {}
  .desc {
    letter-spacing: .02em;
    font-size: 1em;
    text-align: center;
  }
  .gallery {
    margin: auto;
    height: auto;
    display: contents;
  }
  .gallery-col-main {
    width: auto;
    margin-bottom: 2%;
    height: 250px;
  }
  .gallery-col-side {
    width: 100%;
  }
  .gallery-col-side-1 {
    height: 250px;
  }
  .gallery-col-side-2 {
    height: 250px;
  }
  .gallery-col-side-3 {
    height: 250px;
  }
  .gallery-col-main img, .gallery-col-side-1 img, .gallery-col-side-2 img, .gallery-col-side-3 img {}
  .overlay {}
  .modal {
    overflow-x: hidden;
    max-width: 100%;
  }
  .modal-box {
    width: 100%;
    overflow-x: hidden;
  }
  .modal-box-left, .modal-box-right {}
  .modal-box-center {}
  .close {}
  .modal-box img {}
  .prev-gallery, .next-gallery {
    padding: 3vw 2vw;
    margin: 37.5vw 25%;
  }
  .services {}
  .heading {}
  .row {}
  .column {
    height: auto;
      flex: 100%;
  -ms-flex: 100%;
  max-width: 100%;
    box-sizing: content-box;
    padding-bottom: 0.5vw;
    margin: 0;
  }
  .column:hover {}
  .row::after {}
  h4 {}
  .column > p {}
  .column > p > a {}
  .column .fas {
    padding-bottom: 20vw;
  }
  .testimonial {}
  .testimonial-left, .testimonial-right {}
  .testimonial-center {
    height: 50vw;
  }
  .testimonial .dot {}
  .prev-testimonials, .next-testimonials {}
  .prev-gallery:hover, .next-gallery:hover, .prev-testimonials:hover, .next-testimonials:hover {}
  .contact {}
  .contact-left {}
  .contact-left > p > a {}
  .contact-left iframe {
    height: 330px;
  }
  .contact-right {}
  .contact-right > p {}
  .col-25 {
    font-size: .85em;
  }
  .col-75 {}
  input[type=text], [type=email], [type=tel], textarea {}
  label {}
  input[type=submit] {}
  input[type=submit]:hover {}
  .social {
    padding: 8vw 1vw 0;
  }
  .social > a {
    margin: auto;
  }
  .fa, .fab {}
  .fa-instagram, .fa-facebook-f, .fa-envelope, .fa-phone-alt, .fa-youtube {}
  .fa-instagram:hover, .fa-facebook-f:hover, .fa-envelope:hover, .fa-phone-alt:hover, .fa-youtube:hover {}
  .contact::after {}
  p.back-up {}
  .far {}
  .fa-hand-point-up {}
  .fa-hand-point-up:hover {}
  footer {
    min-width: 100%;
  }
  .credit {}
  .credit .label {
    margin-left: 30%;
  }
  .credit a {
    margin-right: 5%;
  }
  .blog-body {
    height: auto;
  }
  .blog-top {
    height: 10px;
  }
  .blog {
    height: 90vw;
    flex-direction: column;
    padding-bottom: 5vw;
  }
  .blog-left {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-left > video {
    width: 90%;
    height: 40vw;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 0;
  }
  .blog-left > img {
    height: 20vw;
  }
  .blog-right {
    height: 35vw;
  }
  .blog-right-content {
    height: 80%;
  }
  .blog-right-more {
    height: 20%;
  }
  .blog-right-more > a {}
  .blog-footer {}
  .blog-social {}
  .blog-head {
    margin-top: 20px;
  }
  .blog-writeup {}
  .icon {
    display: block;
  }
}