/* CSS Document */
html{
	scroll-behavior: smooth;
}
/* Remove gap between the content and the edges*/
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: url("images/bg_body_Vivid&Sharp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: muli;
  max-width: 100%;
  color: white;
}
/* Styling the Header tag*/
header {
  width: 100%;
  position: fixed;
  background-color: rgba(42, 27, 61, 1.00);
  padding: 0;
  margin: 0;
}
/* Website Icon in Header */
figure {
  float: left;
  margin: 0;
}
figure img {
}
/* Navigation Menu */
nav {
  float: right;
  padding: 0;
  padding-bottom: 1vw;
	margin-top: 0.5vw;
  display: block;
}
/* Unordered List -- Menu */
ul {
  list-style-type: none;
  padding: 0;
}
/* List Items -- Menu */
li {
  float: left;
}
/* Menu Tabs */
a.menu {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5vw 2vw;
  margin: 0;
  text-transform: uppercase;
}
a.menu:hover {
  background-color: #d93f87;
  border-radius: 50px;
}
.placeholder {
  /*height: 75px;*/
}
/* Hero Area Design*/
.hero {
  width: 100%;
  height: 656.5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: content-box;
}
.hero img {}
/* Descriptor Area Design */
.desc {
  text-align: justify;
  font-size: 1.35em;
  letter-spacing: 0.0125em;
  line-height: 1.55em;
  margin: 7vw 5vw 0vw;
  box-sizing: border-box;
  padding: 2vw 5vw;
  color: #ffffff;
  background-color: transparent;
  /*border: #d93f87 thin solid;*/
}
/* Image Gallery */
.gallery {
  height: 450px;
  margin: 0 9vw 0 9vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.gallery-col-main {
  width: 70%;
  height: 100%;
  cursor: pointer;
  padding-right: 5px;
}
.gallery-col-side {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.gallery-col-side-1 {
  height: 32%;
  width: 100%;
  margin-bottom: 2%;
  cursor: pointer;
}
.gallery-col-side-2 {
  height: 32%;
  width: 100%;
  margin-bottom: 2%;
  cursor: pointer;
}
.gallery-col-side-3 {
  height: 32%;
  width: 100%;
  cursor: pointer;
  position: inherit;
}
.gallery-col-main img, .gallery-col-side-1 img, .gallery-col-side-2 img, .gallery-col-side-3 img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
}
.modal-box {
  width: 1150px;
  height: 500px;
  background-color: rgba(42, 27, 61, 0.25);
  margin: 80px 100px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.modal-box-left, .modal-box-right {
  width: 14.5%;
  height: 100%;
}
.modal-box-center {
  width: 70%;
  height: auto;
  box-sizing: border-box;
  align-content: center;
}
.close {
  color: #ffffff;
  float: right;
  margin: 10px 15px 0 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.modal-box img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.prev-gallery, .next-gallery {
  align-content: center;
  color: #ffffff;
  padding: 3vw 12%;
  margin: 11vw 37%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-radius: 12%;
  transition: ease;
  transition-duration: 0.5s;
  display: block;
}
/* Services */
.services {
  text-align: center;
  box-sizing: border-box;
  padding: 0vw 5vw 5vw;
}
/* Headings */
.heading {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 4em;
  color: #ffffff;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Column division */
.column {
  align-content: center;
  flex: 32%;
  -ms-flex: 32%;
  max-width: 32%;
  height: 200px;
  padding: 0 4px;
  color: #ffffff;
}
.column:hover h4 {
  color: rgba(217, 63, 135, 0.8);
}
.column:hover {
  color: rgba(217, 63, 135, 0.8);
  font-weight: bolder;
  cursor: pointer;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
h4 {
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}
.column > p {
  text-align: justify;
  float: right;
  font-size: .9em;
}
.column > p > a {
  float: left;
}
.column p img {
  height: 3em;
  color: #ffffff;
  padding: 0em 2.5em 3.5em 1.5em;
  float: left;
}
.pad {
  height: 20px;
}
.testimonial {
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
}
.testimonial-left, .testimonial-right {
  width: 14.5%;
  height: 30vw;
}
.testimonial-center {
  width: 70%;
  height: 30vw;
  box-sizing: border-box;
}
.testimonial .dot {}
.prev-testimonials, .next-testimonials {
  align-content: center;
  color: #ffffff;
  padding: 3vw 12%;
  margin: 11vw 37%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-radius: 12%;
  transition: ease;
  transition-duration: 0.5s;
  display: block;
}
.prev-gallery:hover, .next-gallery:hover, .prev-testimonials:hover, .next-testimonials:hover {
  background-color: #d93f87;
  transition-duration: 0.5s;
}
/* Contact Us */
/* General Container */
.contact {
  min-height: 50vw;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0vw 8vw 1vw 8vw;
  color: #ffffff;
}
/* LHS of Contact */
.contact-left {
  float: left;
  width: 50%;
  min-height: 30vw;
  box-sizing: border-box;
}
.contact-left > p > a {
  text-decoration: none;
  color: #ffffff;
}
.contact-left iframe {
  height: 205px;
}
/* RHS of Contact */
.contact-right {
  float: left;
  width: 50%;
  min-height: 35vw;
  box-sizing: content-box;
}
.contact-right > p {
  text-align: center;
}
.col-25 {
  float: left;
  width: 25%;
  text-align: left;
  margin-top: 6px;
  padding-left: 15px;
  box-sizing: border-box;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  box-sizing: content-box;
}
input[type=text], [type=email], [type=tel], textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  border-bottom: solid #d93f87 2px;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=button] {
  background-color: #d93f87;
  color: white;
  padding: 12px 20px;
  margin-left: 85%;
  border: #d93f87 solid thin;
  cursor: pointer;
  float: right;
  box-sizing: content-box;
  transition-duration: 0.3s;
  border-radius: 15%;
}
input[type=button]:hover {
  background-color: #ffffff;
  color: #d93f87;
  border: #ffffff solid thin;
  transition-duration: 0.3s;
}
/* Social Media icons */
.social {
  margin: auto;
  display: flex;
  align-content: flex-end;
	justify-content: space-between;
  padding: 60px 0 0 65%;
}
.social > a {
  margin: auto;
}
.fa, .fab {
  padding: 1em;
  font-size: 1em;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2em 1em;
}
.fa-instagram, .fa-facebook-f, .fa-envelope, .fa-phone-alt, .fa-youtube {
  color: #d93f87;
  border: #d93f87 solid thin;
  background-color: transparent;
  border-radius: 15%;
  transition-duration: 0.7s;
}
.fa-instagram:hover, .fa-facebook-f:hover, .fa-envelope:hover, .fa-phone-alt:hover, .fa-youtube:hover {
  background-color: #d93f87;
  color: #ffffff;
  border: #d93f87 solid thin;
  transition-duration: 0.3s;
}
/* Clear float after elements */
.contact::after {
  content: "";
  clear: both;
}
p.back-up {
  text-align: right;
}
.far {
  padding: 1em;
  font-size: 1em;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2em 1em;
}
.fa-hand-point-up, .fa-hand-point-left {
  color: #ffffff;
  border: #d93f87 solid thin;
  background-color: #d93f87;
	transition-duration: 0.3s;
}
.fa-hand-point-up:hover, .fa-hand-point-left:hover {
  background-color: #ffffff;
  color: #d93f87;
  border: #ffffff solid thin;
  transition-duration: 0.3s;
}
/* Footer */
footer {
  width: 100%;
  background-color: #2A1B3D;
  box-sizing: border-box;
  height: 50px;
}
.credit {
  text-align: center;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}
.credit .label {
  color: #FF3895;
  margin-left: 40%;
}
.credit a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  margin-right: 40%;
}
.blog-body {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.blog-top {
  height: 80px;
}
.blog {
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.blog-left {
  height: 90%;
  width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.blog-left > video {
  height: 95%;
  width: 100%;
}
.blog-right {
  height: 90%;
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.blog-right-heading {
  text-align: center;
}
.blog-right-content {
  height: 80%;
  width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blog-right-more {
  height: 20%;
  width: 100%;
}
.blog-right-more > a {
  text-decoration: none;
  color: white;
}
.blog-footer {
  height: auto;
}
.blog-social {
  padding: 30px 0 10px 65%;
}
.blog-head {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.blog-writeup {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: justify;
}
.icon {
  display: none;
}